<form>
  <div class="form-control">
    <label for="task">Task</label>
    <input type="text" name="task" id="task" placeholder="Add Task">
  </div>
  <div class="form-control">
    <label for="day">Day/Time</label>
    <input type="text" name="day" id="day" placeholder="Add day in time">
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Reminder</label>
    <input type="checkbox" name="reminder" id="reminder">
  </div>

  <app-button innerButtonText="Create Task" color="green"></app-button>
</form>